<table class="striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre del orientador</th>
      <th>Actualizar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Orientador registrado 1</td>
      <td>
        <a href="#" class="btn btn-floating indigo darken-4"><i class="material-icons">&#xE254;</i></a>
      </td>
      <td>
        <a href="#" class="btn btn-floating red darken-4"><i class="material-icons">&#xE872;</i></a>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Orientador registrado 2</td>
      <td>
        <a href="#" class="btn btn-floating indigo darken-4"><i class="material-icons">&#xE254;</i></a>
      </td>
      <td>
        <a href="#" class="btn btn-floating red darken-4"><i class="material-icons">&#xE872;</i></a>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Orientador registrado 3</td>
      <td>
        <a href="#" class="btn btn-floating indigo darken-4"><i class="material-icons">&#xE254;</i></a>
      </td>
      <td>
        <a href="#" class="btn btn-floating red darken-4"><i class="material-icons">&#xE872;</i></a>
      </td>
    </tr>
    <tr>
      <td>4</td>
      <td>Orientador registrado 4</td>
      <td>
        <a href="#" class="btn btn-floating indigo darken-4"><i class="material-icons">&#xE254;</i></a>
      </td>
      <td>
        <a href="#" class="btn btn-floating red darken-4"><i class="material-icons">&#xE872;</i></a>
      </td>
    </tr>
    <tr>
      <td>5</td>
      <td>Orientador registrado 5</td>
      <td>
        <a href="#" class="btn btn-floating indigo darken-4"><i class="material-icons">&#xE254;</i></a>
      </td>
      <td>
        <a href="#" class="btn btn-floating red darken-4"><i class="material-icons">&#xE872;</i></a>
      </td>
    </tr>
  </tbody>
</table>