<li><a href="#!">Mi perfil<i class="material-icons">&#xE8A6;</i></a></li>
<li>
    <div class="divider"></div>
</li>
<li><a class="subheader">Opciones</a></li>
<li><a class="waves-effect"  routerLink="/ciclos">Ciclos escolares<i class="material-icons">&#xE916;</i></a></li>
<li><a class="waves-effect"  routerLink="admon/orientadores">Orientadores<i class="material-icons">&#xE8D3;</i></a></li>
<li><a class="waves-effect"  routerLink="/grupos">Grupos<i class="material-icons">&#xE886;</i></a></li>
<!-- <li>
    <ul class="collapsible collapsible-accordion">
        <li>
        <a class="collapsible-header"><i class="material-icons">arrow_drop_down</i></a>
        <div class="collapsible-body">
            <ul>
            <li><a href="#!">First</a></li>
            <li><a href="#!">Second</a></li>
            <li><a href="#!">Third</a></li>
            <li><a href="#!">Fourth</a></li>
            </ul>
        </div>
        </li>
    </ul>
</li> -->
<li><a class="waves-effect" href="#!">Cerrar sesión</a></li>