<nav>
  <div class="nav-wrapper indigo darken-4">
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
    <a href="#" class="brand-logo" target="_blank">Escuela Primaria Leona Vicario</a>
    <ul class="right">
      <li><a href="#" target="_blank">Sistema de reportes v0.1.0</a></li>
    </ul>
    
    <ul id="slide-out" class="side-nav">
        <li><div class="user-view">
          <div class="background">
            <img src="https://s-media-cache-ak0.pinimg.com/originals/b8/c9/b5/b8c9b5a184d7af15dace3d8bdbecf6c6.jpg">
          </div>
          <a href="#!user"><img class="circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSODALYDYo2dqN0DG_kPNi2X7EAy1K8SpRRZQWkNv9alC62IHggOw"></a>
          <a href="#!name"><span class="white-text name">John Doe</span></a>
          <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
        </div></li>
        <app-menu></app-menu>
      </ul>

  </div>
</nav>